<!--The content below is only a placeholder and can be replaced.-->
<section>
  <div class="container">
    <form method="POST" #frm="ngForm" (ngSubmit)="criar(frm)">
      <div class="form-group">
        <label for="nome">Nome</label>
        <input type="text" id="nome" name="nome" class="form-control" placeholder="Nome" [(ngModel)]="contato.id" required>
      </div>
      <div class="form-group">
        <label for="email">E-mail</label>
        <input type="text" id="email" name="email" class="form-control" placeholder="E mail"  [(ngModel)]="contato.title" required email>
      </div>

      <button type="Submit" class="btn btn-primary" [disabled]="frm.invalid">Salvar</button>
    </form>
  </div>
</section>
<section>
  <div class="container">
    <ul>
      <li *ngFor="let cont of contatos">
        {{cont.id}} | {{cont.title}}
      </li>
    </ul>
  </div>
</section>
<router-outlet></router-outlet>
